*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section 
{
position: relative;
width: 100%;
height: 100%;
display: flex;
justify-content:center;
align-items:center;
}

.section .main{
    width: 500px;
    margin: 0 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.section .main .searchBx{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.section .main .searchBx .query{
    width: 100%;
    padding: 13px;
    border:1px solid #ccc;
    outline: none;
    font-size:16px;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.section .main .searchBx .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding:12px 20px;
    align-items:center;
    pointer-events:none;

}

.searchBtn{
    margin: 0 5px;
    margin-top: 20px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border: radius 6px;
    border: 1px solid transparent;
    outline: none;
}

.searchBtn:hover{
    border: 1px solid #ccc;

}